{% extends "base.html" %}
{% block content %}
<h1>My Backlog</h1>
<a href="{% url 'library_add' %}" class="btn btn-primary">Add New Entry</a>
<table class="table">
  <tr>
    <th>Game</th>
    <th>Platform</th>
    <th>Status</th>
    <th>Priority</th>
    <th>Actions</th>
  </tr>
  {% for lib in libraries %}
  <tr>
    <td>{{ lib.edition.game.title }}</td>
    <td>{{ lib.platform.name }}</td>
    <td>
  <span class="badge {{ lib.status.badge_class }}">{{ lib.status.label }}</span>
</td>
    <td>{{ lib.priority }}</td>
    <td>
  <a href="{% url 'library_edit' lib.id %}" class="btn btn-sm btn-warning">Edit</a>
  <a href="{% url 'library_delete' lib.id %}" class="btn btn-sm btn-danger">Delete</a>
</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}